<div id="sidenav">
    <form class="sideform" action="/api/chatrooms" accept-charset="UTF-8" method="post" data-remote="true">
        <input value="<%= Transcendence.current_user.id %>" type="hidden" name="chatroom[owner]">
        <input autocomplete="off" type="text" name="chatroom[name]" placeholder="Chatroom name...">
        <input type="hidden" value="public" name="chatroom[chatroom_type]">
        <br/>
        <input type="checkbox" value="private" name="chatroom[chatroom_type]" onclick='$("#edit-password-field").slideToggle(300)'> Private chatroom<br/>
        <div id="edit-password-field"><input autocomplete="off" type="password" name="chatroom[password]" placeholder="Type password..."></div>
        <div style="padding:5px;"><button type="submit" name="commit" class="edit save">Create a chatroom</button></div>
        <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
    </form>
    <table>
        <tr>
            <td id="optpublic" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);" class="sideopt" onclick='document.location="/#chatrooms/public";'>Public chatrooms</td>
        </tr>
        <tr>
            <td id="optpriv" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);" class="sideopt" onclick='document.location="/#chatrooms/private"'>Private chatrooms</td>
        </tr>
        <tr>
            <td id="optmych" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);" class="sideopt" onclick='document.location="/#chatrooms/my_chatrooms"'>My chatrooms</td>
        </tr>
        <tr>
            <td class="sideopt" onclick='document.location="/#private_rooms"'>PM</td>
        </tr>
    </table>
</div>

<div id="main-chatrooms">
    <div id="chatrooms-list"></div>
</div>
